/* This is the main styles */

.incr-height {
  height: 100vh;
}

.websiteColor {
  color: black;
}

.brand-name {
    font-size: 16px;
    line-height: 24px;
    fill: 1a202c;
}

h2,h3{
  font-weight: bold;
}
.about{
  padding: 20px;
  padding-top: 50px;
  animation-name: slidein;
  animation-duration: 3s;
}
@keyframes slidein{
  from{
    margin-left: -100%;
    width: 300%;
  }
  to{
    margin-left: 0%;
    width: 100%;
  }
}
.about_us_image{
  margin: 20px;
  object-fit: cover;
}
img{
  width: 100%;
  height: 100%;
}
